@model B2B_Deneme.ViewModels.VMMusteriler 
@{
    ViewData["Title"] = "Ürünler";

}

<div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Stoklar</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive product-table">
                        <table class="display" id="basic-1">
                            <thead>
                                <tr>
                                    <th>Stok Kodu</th>
                                    <th>Stok Adı</th>
                                    <th>Miktar</th>
                                    <th>Fiyat</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var stok in Model.Stoklar)
                                {
                                <tr>
                                        <td>@stok["sto_kod"]</td>
                                        <td>@stok["sto_isim"]</td>
                                        <td class="font-success">@stok["Miktar"]</td>
                                        <td>@stok["sfiyat_fiyati"]</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


