@{
    ViewData["Title"] = "Siparişler";

}
<div class="page-body-wrapper horizontal-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Basic Scenario</h5><span>Grid with filtering, editing, inserting, deleting, sorting and paging. Data provided by controller.</span>
                    </div>
                    <div class="card-body">
                        <div id="OrdersTable">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>