@{
    ViewData["Title"] = "Ürünler";

}

<div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Stoklar</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive product-table">
                        <table class="display" id="basic-1">
                            <thead>
                                <tr>
                                    
                                    <th>Details</th>
                                    <th>Amount</th>
                                    <th>Stock</th>
                                    <th>Start date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  
                                    <td>
                                        <a href="product-page.html">
                                            <h6> Red Lipstick </h6>
                                        </a><span>Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens</span>
                                    </td>
                                    <td>$10</td>
                                    <td class="font-success">In Stock</td>
                                    <td>2011/04/25</td>
                                    <td>
                                        <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title="">Delete</button>
                                        <button class="btn btn-primary btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title="">Edit</button>
                                    </td>
                                </tr>
                                <tr>
                                    
                                    <td>
                                        <a href="product-page.html">
                                            <h6> Pink Lipstick </h6>
                                        </a>
                                        <p>Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens</p>
                                    </td>
                                    <td>$10</td>
                                    <td class="font-primary">Low Stock</td>
                                    <td>2011/04/25</td>
                                    <td>
                                        <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title="">Delete</button>
                                        <button class="btn btn-primary btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title="">Edit</button>
                                    </td>
                                </tr>
                           
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


